
    <div class="container">
        <div class="row">
            <h1 id="title">Welcome to Chirper!</h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group">
                    <input id="createChirp" class="form-control" type="text" placeholder="What's on your mind?" required>
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="btn" type="button">Chirp!</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <select id="user-selector">
                <option ng-repeat="user in users" value="{{ user.ID }}" >
                    {{ user.Name }}
                </option>
            </select>
        </div>
    </div>
    <div ng-repeat="chirp in chirps" class="results" ng-click="goToSingle(chirp.id)">
       <h3>{{ chirp.message }}</h3>
        <h4>{{ chirp.Name }}</h4>
    </div>